In [1]:
%matplotlib inline

import os
import time

import librosa
import librosa.display

import pandas
import numpy
import sklearn
import scipy.ndimage

import IPython
import matplotlib.pyplot as plt

# Custom modules
import dcase2018bad
import features

In [2]:
dataset = dcase2018bad.load_dataset()
print(dataset.shape)
dataset.head(3)

(48310, 4)

                                     itemid  datasetid  hasbird     folder
0                  BUK4_20161103_204504_125  PolandNFC      NaN  polandnfc
1                  BUK4_20161016_012704_132  PolandNFC      NaN  polandnfc
2  6wichura_deszcz_BUK4_20161005_022304_129  PolandNFC      NaN  polandnfc